*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "C64";
  src: url("../fonts/C64/C64F.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #352879;
  --color-secondary: #b697ff;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-secondary);
}

.navbar {
  width: 100vw;
  height: 4rem;
  min-width: 4rem;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1rem;
  padding: 0rem 7rem;
  user-select: none;
}

.navbar-container {
  display: flex;
  column-gap: 3rem;
}

.navbar-item a {
  color: var(--color-black);
  text-decoration: none;
  position: relative;
}

.navbar-item > a:after {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  height: 0.25rem;
  width: 0%;
  left: 0;
  bottom: -0.4rem;
  border-radius: 5rem;
}

.navbar-item a:hover:after {
  width: 100%;
}

.navbar-container .navbar-item:hover .navbar-drop-div {
  visibility: visible;
}

.navbar-logo img {
  width: 2.75rem;
  height: 2.75rem;
}

.navbar-search {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-black);
  cursor: pointer;
  position: relative;
}

.navbar-item {
  position: relative;
}

.navbar-container-drop {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 1.25rem 0rem;
  border-radius: 0.75rem;
  box-shadow: 0 0 1px 1px rgba(29, 17, 51, 0.04),
    0 0 3px 2px rgba(9, 32, 77, 0.12), 0 0 2px -3px rgba(29, 17, 51, 0.12);
}

.navbar-item-drop {
  padding: 0rem 1rem;
}
.navbar-item-drop > a {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.navbar-drop-div {
  position: absolute;
  padding-top: 2rem;
  width: 14rem;
  visibility: hidden;
}

.navbar-item-drop > a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.navbar-search {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  fill: var(--color-black);
  z-index: 1;
}

.navbar-search-container {
  position: absolute;
  width: 100%;
  max-width: 30rem;
  height: 3rem;
  right: 8.5rem;
  padding-right: 1rem;
  opacity: 0;
  pointer-events: none;
}

.navbar-search-container input {
  background-color: var(--color-white);
  height: 100%;
  width: 100%;
  border: 0.2rem var(--color-black) solid;
  border-radius: 1rem;
  outline: none;
  padding: 0rem 2.75rem;
  caret-color: var(--color-black);
  color: var(--color-black);
}

.navbar-search-container .navbar-search {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}

.navbar-showSearch {
  opacity: 1;
  pointer-events: auto;
}

@media all and (max-width: 767px) {
  body {
    background-color: var(--color-primary);
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: blue;
  }
}

/*h1 {
  font-family: "C64";
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: var(--color-primary);
}

.console {
  background-color: var(--color-primary);
  border: 0.25rem var(--color-black) solid;
  line-height: 2.25;
  width: 75vw;
  height: 100vh;
}

.console-header {
  font-family: "C64";
  text-align: center;
  color: var(--color-secondary);
}

p {
  font-family: "C64";
  color: var(--color-secondary);
} */
